<a href="https://colab.research.google.com/github/SergIvanov59/think_live/blob/main/PROJECT_4_IVANOV_NEW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ЦЕЛЬ
Создать простую рекомендательную систему, которая будет подсказывать пользователям, какие курсы могут быть им интересны. Такая система позволит организовать допродажу в корзине и тем самым увеличить средний чек.
ЗАДАЧИ
1. Разработать таблицу, в которой каждому курсу будет соответствовать по две рекомендации.
2. Сформулировать комментарии, которые бы разъясняли, что где и почему вы делаете.
ФОРМАЛИЗОВАННЫЕ ЗАДАЧИ
1. Познакомиться с датасетом, подготовить и проанализировать данные с помощью SQL.
2. Обработать данные средствами Python.
3. Составить итоговую таблицу с рекомендациями, снабдив её необходимыми комментариями, и представить отчёт продакт-менеджеру.

1-й этап работы
1. Изучаем содержимое двух рабочих таблиц продажи курсов.
2. Готовим данные для анализа. Для этого при помощи SQL-запроса выгружаем данные по всем продажам в разрезе пользователей.
3. Обрабатываем данные. Разбиваем покупки курсов по парам и ранжируем для каждого курса.

In [ ]:
import pandas as pd
import numpy as np
import psycopg2
import psycopg2.extras

In [ ]:
# Посчитаем сколько клиентов покупали курсы
def Clients_Course():
    query = '''select count(distinct user_id)
from final.cart_items i join final.carts c on i.cart_id=c.id
where state='successful' and resource_type='Course'
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data
course_buyers = pd.DataFrame(Clients_Course())
course_buyers

   count
0  49006

In [ ]:
# Посчитаем сколько различных курсов в продаже
def Clients_Course():
    query = '''select count(distinct resource_id)
from final.cart_items
where resource_type='Course'
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data
all_courses = pd.DataFrame(Clients_Course())
all_courses

   count
0    127

In [ ]:
# Посчитаем среднее число купленных курсов на одного клиента
def Clients_Course():
    query = '''with clients as
(
select user_id, count(resource_type) as course_count
from final.cart_items i join final.carts c on i.cart_id=c.id
where state='successful' and resource_type='Course'
group by 1
)
select avg(course_count)
from clients
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data
avg_courses_1buyer = pd.DataFrame(Clients_Course())
avg_courses_1buyer

                  avg
0  1.4402522140146105

In [ ]:
# Посчитаем сколько клиентов купили больше одного курса
def Clients_Course():
    query = '''with clients as
(
select user_id, count(distinct resource_id) as course_count
from final.cart_items i join final.carts c on i.cart_id=c.id
where state='successful' and resource_type='Course'
group by 1
)
select count(user_id)
from clients
where course_count > 1
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data
clients_course_more_1 = pd.DataFrame(Clients_Course())
clients_course_more_1

   count
0  12656

In [ ]:
# Создаем DF с данными о продажах пользователям, купившим больше 1 курса.
def Clients_Course():
    query = '''with clients as
(
select user_id, count(distinct resource_id) as course_count
from final.cart_items i join final.carts c on i.cart_id=c.id
where state='successful' and resource_type='Course'
group by 1
)
select clients.user_id, i.resource_id
from clients join final.carts c on clients.user_id=c.user_id join final.cart_items i on i.cart_id=c.id
where clients.course_count > 1 and c.state='successful' and i.resource_type='Course'
order by clients.user_id, i.resource_id
    '''.format()
    conn = psycopg2.connect("dbname='skillfactory' user='skillfactory' host='84.201.134.129' password='cCkxxLVrDE8EbvjueeMedPKt' port=5432")
    dict_cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    dict_cur.execute(query)
    rows = dict_cur.fetchall()
    data = []
    for row in rows:
        data.append(dict(row))
    return data
df = pd.DataFrame(Clients_Course())
df.head()

   user_id  resource_id
0       51          516
1       51         1099
2     6117          356
3     6117          357
4     6117         1125

2-й этап работы
Создаем итоговую таблицу с рекомендациями
За основу возьмём информацию о клиентах, купивших больше одного курса.
Их предпочтения - это наши рекмендации новым клиентам.
1. Создадим столбец со списками уникальных курсов для каждого клиента
2. В работу берём покупки больше одного курса. Разбиваем все покупки курсов по парам.
3. Сортируем по популярности пары курсов. Нас интересуют самые популярные пары курсов.
4. Отсортировываем пары по id первой покупки (первый курс) и выбираем вторые id покупок (второй курс) в первых двух самых популярных парах.
5. Вместо малопопулярных курсов предложим пару самых популярных.

In [ ]:
# Создадим столбец со списками уникальных курсов для каждого клиента
# Каждому пользователю будет соответствовать список id курсов, которые он приобрёл
course_df = df.groupby(['user_id'])['resource_id'].apply(lambda x: list(np.unique(x))).reset_index()
course_df = course_df.rename(columns={'resource_id':'courses'})
course_df

       user_id                    courses
0           51                [516, 1099]
1         6117           [356, 357, 1125]
2        10275                [553, 1147]
3        10457                [361, 1138]
4        17166                 [356, 357]
...        ...                        ...
12651  2179430                 [566, 750]
12652  2186581           [794, 864, 1129]
12653  2187601  [356, 553, 571, 765, 912]
12654  2188926                 [515, 743]
12655  2190141           [756, 794, 1185]

[12656 rows x 2 columns]

In [ ]:
# При помощи функции itertools.combinations() создаем кортеж пар курсов, в котором нет повторяющихся элементов.
import itertools
courses_list = list()
for courses in course_df['courses']:
    for course_pair in itertools.combinations(courses,2):
        courses_list.append(course_pair)
courses_list
print("Всего пар курсов:",len(courses_list))
print("Всего различных пар курсов:",len(set(courses_list)))

Всего пар курсов: 40017
Всего различных пар курсов: 3989

In [ ]:
# Методом Counter создадим коллекцию самых популярных пар курсов. 
from collections import Counter
popular = Counter(courses_list)
print(popular)

Counter({(551, 566): 797, (515, 551): 417, (489, 551): 311, (523, 551): 304, (566, 794): 290, (489, 515): 286, (490, 566): 253, (490, 551): 247, (570, 752): 247, (569, 572): 216, (515, 523): 213, (553, 745): 212, (489, 523): 206, (569, 840): 204, (514, 551): 200, (516, 745): 199, (515, 566): 195, (489, 566): 188, (504, 572): 184, (572, 840): 178, (551, 552): 177, (507, 570): 172, (490, 809): 163, (489, 490): 152, (507, 752): 150, (523, 552): 144, (490, 515): 143, (551, 570): 142, (504, 569): 139, (514, 515): 139, (551, 745): 138, (514, 566): 138, (502, 551): 135, (504, 840): 135, (571, 1125): 122, (502, 566): 120, (523, 566): 120, (570, 809): 119, (752, 809): 115, (490, 523): 114, (357, 571): 112, (523, 564): 110, (551, 749): 109, (516, 553): 107, (551, 777): 107, (551, 679): 104, (356, 571): 103, (551, 564): 103, (515, 749): 103, (568, 745): 102, (356, 357): 100, (363, 511): 99, (551, 571): 98, (551, 809): 96, (502, 514): 95, (551, 794): 95, (490, 514): 94, (566, 764): 92, (490, 564): 92, (566, 570): 92, (551, 764): 91, (489, 552): 89, (502, 515): 89, (515, 552): 88, (519, 551): 86, (489, 564): 86, (515, 764): 84, (507, 551): 84, (553, 568): 83, (571, 765): 83, (514, 523): 83, (564, 566): 83, (566, 809): 79, (489, 514): 78, (507, 809): 78, (363, 562): 77, (489, 679): 77, (551, 1103): 76, (571, 912): 74, (504, 551): 73, (570, 1115): 73, (519, 523): 72, (552, 564): 72, (516, 551): 72, (551, 752): 72, (566, 749): 70, (752, 1115): 69, (507, 566): 68, (745, 1139): 67, (489, 502): 67, (523, 679): 67, (515, 564): 67, (490, 794): 67, (552, 566): 66, (566, 745): 66, (515, 794): 66, (504, 566): 66, (840, 1161): 65, (489, 809): 65, (490, 743): 65, (551, 750): 64, (514, 552): 63, (366, 551): 63, (566, 1103): 62, (523, 570): 62, (489, 519): 61, (514, 764): 61, (551, 572): 61, (507, 508): 61, (514, 570): 60, (503, 551): 60, (509, 745): 59, (502, 523): 59, (523, 764): 59, (523, 572): 59, (551, 840): 59, (507, 514): 58, (523, 571): 57, (566, 679): 57, (489, 764): 57, (809, 1115): 57, (523, 809): 57, (551, 664): 56, (511, 562): 55, (912, 1125): 55, (515, 519): 55, (566, 750): 55, (551, 569): 55, (503, 513): 55, (489, 794): 55, (516, 568): 54, (566, 571): 54, (523, 752): 54, (508, 570): 54, (562, 563): 53, (745, 1099): 53, (568, 1099): 53, (357, 1125): 52, (517, 551): 52, (552, 679): 51, (551, 776): 51, (357, 551): 51, (515, 679): 51, (551, 741): 51, (551, 659): 50, (566, 752): 50, (564, 809): 50, (514, 809): 50, (519, 552): 49, (361, 551): 49, (509, 553): 48, (356, 551): 48, (566, 757): 48, (515, 570): 48, (502, 794): 48, (509, 568): 46, (367, 551): 46, (490, 764): 46, (515, 777): 45, (523, 777): 45, (366, 515): 45, (356, 1125): 44, (569, 1161): 44, (366, 523): 44, (490, 502): 44, (551, 553): 43, (523, 745): 43, (523, 840): 43, (566, 569): 43, (508, 752): 43, (765, 1125): 42, (515, 516): 42, (750, 753): 42, (489, 570): 42, (679, 777): 41, (507, 1115): 41, (551, 562): 41, (566, 572): 41, (361, 1138): 40, (514, 752): 40, (503, 664): 40, (503, 1140): 40, (566, 840): 40, (515, 809): 40, (566, 741): 40, (490, 570): 40, (553, 1099): 39, (551, 1100): 39, (515, 571): 39, (518, 551): 39, (489, 777): 39, (566, 777): 39, (794, 809): 39, (749, 794): 39, (514, 745): 38, (357, 765): 38, (366, 489): 38, (367, 515): 38, (523, 569): 38, (513, 551): 38, (564, 679): 37, (489, 741): 37, (552, 777): 37, (502, 552): 37, (551, 672): 36, (514, 571): 36, (908, 1100): 36, (1100, 1102): 36, (515, 1103): 36, (514, 794): 36, (504, 514): 36, (503, 566): 36, (509, 516): 35, (356, 514): 35, (489, 571): 35, (356, 765): 35, (523, 794): 35, (489, 1103): 35, (523, 1103): 35, (794, 1103): 35, (502, 570): 35, (490, 518): 35, (514, 564): 35, (519, 566): 35, (513, 1141): 34, (517, 750): 34, (356, 912): 34, (765, 912): 34, (551, 829): 34, (523, 750): 34, (745, 794): 34, (551, 791): 34, (551, 757): 34, (490, 757): 34, (742, 1141): 34, (363, 563): 33, (1100, 1103): 33, (502, 764): 33, (523, 741): 33, (552, 572): 33, (570, 755): 33, (552, 750): 33, (514, 572): 33, (363, 551): 33, (490, 1103): 33, (745, 1187): 32, (523, 1100): 32, (552, 764): 32, (515, 745): 32, (361, 502): 32, (515, 750): 32, (566, 756): 32, (809, 908): 32, (551, 756): 32, (509, 1099): 31, (564, 1100): 31, (552, 570): 31, (515, 664): 31, (504, 515): 31, (552, 829): 30, (679, 764): 30, (564, 794): 30, (490, 552): 30, (551, 1115): 30, (566, 829): 30, (750, 829): 30, (516, 566): 30, (566, 776): 29, (519, 745): 29, (489, 752): 29, (564, 764): 29, (840, 1145): 29, (368, 572): 29, (514, 777): 29, (502, 564): 28, (489, 745): 28, (518, 523): 28, (366, 490): 28, (564, 741): 28, (489, 504): 28, (489, 517): 28, (551, 753): 28, (357, 514): 28, (514, 679): 28, (507, 515): 28, (489, 908): 28, (572, 1161): 28, (523, 562): 28, (764, 794): 28, (809, 1100): 28, (562, 777): 28, (504, 523): 28, (553, 1139): 27, (1125, 1186): 27, (571, 1144): 27, (523, 829): 27, (553, 1187): 27, (777, 794): 27, (517, 523): 27, (752, 1184): 27, (514, 757): 27, (368, 569): 27, (504, 794): 27, (743, 757): 27, (356, 489): 26, (745, 1147): 26, (552, 571): 26, (515, 517): 26, (552, 840): 26, (502, 776): 26, (564, 908): 26, (507, 1184): 26, (570, 1184): 26, (515, 569): 26, (570, 794): 26, (566, 908): 26, (502, 809): 26, (366, 566): 26, (551, 1152): 26, (514, 840): 26, (516, 1099): 25, (366, 367): 25, (489, 516): 25, (519, 679): 25, (672, 745): 25, (552, 741): 25, (552, 752): 25, (564, 814): 25, (516, 523): 25, (489, 507): 25, (514, 1103): 25, (515, 741): 25, (664, 791): 25, (515, 518): 25, (515, 752): 25, (358, 570): 25, (566, 791): 25, (562, 566): 25, (490, 1152): 25, (552, 756): 25, (356, 523): 24, (552, 1100): 24, (551, 568): 24, (566, 1100): 24, (564, 571): 24, (523, 776): 24, (551, 1125): 24, (357, 912): 24, (523, 909): 24, (750, 794): 24, (552, 794): 24, (566, 664): 24, (515, 572): 24, (552, 809): 24, (502, 504): 24, (566, 743): 24, (519, 571): 23, (551, 765): 23, (361, 672): 23, (523, 1115): 23, (504, 552): 23, (502, 679): 23, (517, 753): 23, (1100, 1101): 23, (517, 552): 23, (679, 741): 23, (366, 552): 23, (551, 814): 23, (514, 750): 23, (515, 840): 23, (764, 777): 23, (502, 507): 23, (368, 504): 23, (368, 523): 23, (515, 757): 23, (764, 809): 23, (515, 756): 23, (368, 840): 23, (357, 502): 23, (489, 749): 23, (1125, 1144): 22, (571, 745): 22, (568, 1139): 22, (516, 519): 22, (367, 489): 22, (489, 840): 22, (564, 777): 22, (776, 777): 22, (752, 1104): 22, (503, 742): 22, (659, 750): 22, (794, 840): 22, (513, 742): 22, (664, 1140): 22, (571, 794): 22, (489, 757): 22, (752, 755): 22, (508, 514): 22, (570, 1103): 22, (514, 829): 22, (367, 566): 22, (489, 518): 22, (514, 756): 22, (566, 659): 22, (368, 551): 22, (504, 1161): 22, (514, 749): 22, (517, 566): 21, (523, 553): 21, (490, 571): 21, (552, 776): 21, (764, 776): 21, (745, 1103): 21, (672, 1138): 21, (745, 1100): 21, (777, 1103): 21, (564, 829): 21, (357, 516): 21, (356, 515): 21, (489, 750): 21, (514, 664): 21, (490, 750): 21, (508, 809): 21, (514, 516): 21, (517, 519): 21, (840, 1103): 21, (366, 502): 21, (551, 908): 21, (490, 749): 21, (566, 1152): 21, (508, 566): 21, (523, 756): 21, (356, 566): 21, (363, 566): 20, (523, 672): 20, (1099, 1139): 20, (489, 1100): 20, (489, 572): 20, (515, 776): 20, (1102, 1103): 20, (519, 777): 20, (523, 664): 20, (361, 516): 20, (514, 519): 20, (515, 1100): 20, (511, 551): 20, (552, 569): 20, (489, 562): 20, (572, 1103): 20, (752, 1181): 20, (569, 794): 20, (502, 519): 20, (490, 679): 20, (564, 572): 20, (504, 764): 20, (749, 757): 20, (511, 563): 19, (566, 1125): 19, (502, 571): 19, (523, 765): 19, (564, 752): 19, (357, 566): 19, (764, 1103): 19, (357, 515): 19, (489, 569): 19, (502, 745): 19, (552, 664): 19, (358, 752): 19, (570, 764): 19, (502, 569): 19, (502, 572): 19, (566, 909): 19, (503, 791): 19, (566, 1115): 19, (513, 566): 19, (907, 1103): 19, (572, 794): 19, (551, 912): 18, (366, 519): 18, (519, 564): 18, (357, 523): 18, (515, 553): 18, (571, 1103): 18, (516, 1187): 18, (564, 1116): 18, (679, 776): 18, (571, 1186): 18, (659, 671): 18, (750, 777): 18, (551, 1102): 18, (513, 514): 18, (1140, 1185): 18, (672, 813): 18, (357, 361): 18, (362, 363): 18, (508, 551): 18, (752, 777): 18, (679, 1103): 18, (502, 752): 18, (564, 570): 18, (569, 1145): 18, (809, 1104): 18, (514, 562): 18, (564, 1102): 18, (367, 523): 18, (570, 777): 18, (809, 1103): 18, (679, 794): 18, (551, 742): 18, (503, 1185): 18, (504, 564): 18, (368, 515): 18, (507, 794): 18, (840, 1100): 18, (356, 502): 17, (745, 1146): 17, (553, 571): 17, (551, 909): 17, (361, 745): 17, (360, 745): 17, (504, 679): 17, (566, 765): 17, (564, 750): 17, (750, 809): 17, (745, 764): 17, (514, 776): 17, (502, 840): 17, (572, 1145): 17, (752, 1103): 17, (570, 679): 17, (357, 745): 17, (356, 361): 17, (809, 1184): 17, (523, 757): 17, (679, 1102): 17, (363, 514): 17, (502, 741): 17, (745, 765): 17, (490, 777): 17, (756, 764): 17, (570, 757): 17, (553, 1147): 16, (551, 744): 16, (519, 672): 16, (1099, 1187): 16, (519, 1100): 16, (519, 553): 16, (509, 1139): 16, (502, 1100): 16, (515, 829): 16, (679, 745): 16, (523, 1125): 16, (764, 829): 16, (571, 1100): 16, (518, 566): 16, (517, 745): 16, (366, 745): 16, (489, 1115): 16, (551, 743): 16, (571, 750): 16, (361, 571): 16, (659, 753): 16, (357, 553): 16, (829, 908): 16, (829, 1100): 16, (513, 664): 16, (359, 570): 16, (518, 519): 16, (1115, 1184): 16, (489, 664): 16, (552, 1103): 16, (519, 752): 16, (752, 764): 16, (679, 1100): 16, (551, 1140): 16, (502, 777): 16, (566, 744): 16, (764, 840): 16, (502, 503): 16, (356, 516): 16, (361, 515): 16, (523, 749): 16, (809, 829): 16, (358, 551): 16, (562, 794): 16, (489, 909): 16, (743, 809): 16, (776, 794): 16, (511, 566): 16, (809, 1116): 16, (490, 670): 16, (514, 569): 16, (507, 1104): 16, (745, 1125): 15, (509, 551): 15, (523, 753): 15, (356, 366): 15, (571, 679): 15, (553, 566): 15, (366, 571): 15, (489, 1116): 15, (552, 1102): 15, (1100, 1116): 15, (523, 908): 15, (908, 1102): 15, (552, 753): 15, (745, 776): 15, (358, 359): 15, (551, 755): 15, (361, 566): 15, (515, 1125): 15, (515, 791): 15, (570, 1100): 15, (507, 764): 15, (757, 794): 15, (507, 552): 15, (1141, 1188): 15, (489, 756): 15, (564, 840): 15, (523, 907): 15, (566, 670): 15, (514, 741): 15, (743, 749): 15, (551, 1138): 14, (502, 1103): 14, (356, 519): 14, (551, 1144): 14, (489, 829): 14, (515, 765): 14, (552, 745): 14, (552, 659): 14, (515, 568): 14, (566, 568): 14, (489, 765): 14, (489, 814): 14, (552, 1115): 14, (489, 907): 14, (552, 907): 14, (552, 1101): 14, (572, 679): 14, (571, 777): 14, (517, 659): 14, (516, 794): 14, (523, 1102): 14, (1101, 1102): 14, (489, 776): 14, (519, 776): 14, (829, 1103): 14, (503, 515): 14, (489, 1102): 14, (566, 814): 14, (502, 517): 14, (504, 1145): 14, (752, 794): 14, (679, 908): 14, (516, 571): 14, (750, 752): 14, (366, 368): 14, (507, 523): 14, (750, 1103): 14, (551, 1116): 14, (489, 1152): 14, (490, 829): 14, (552, 908): 14, (490, 1100): 14, (659, 794): 14, (566, 907): 14, (570, 743): 14, (564, 1103): 13, (519, 809): 13, (366, 516): 13, (519, 765): 13, (519, 568): 13, (571, 776): 13, (523, 659): 13, (568, 1187): 13, (518, 552): 13, (356, 490): 13, (1103, 1125): 13, (489, 1101): 13, (679, 907): 13, (679, 1101): 13, (566, 912): 13, (551, 810): 13, (1124, 1128): 13, (489, 1125): 13, (1125, 1138): 13, (679, 750): 13, (672, 776): 13, (514, 1115): 13, (908, 1116): 13, (367, 552): 13, (679, 809): 13, (752, 908): 13, (357, 519): 13, (361, 1125): 13, (664, 777): 13, (777, 840): 13, (490, 908): 13, (908, 909): 13, (502, 829): 13, (502, 562): 13, (514, 791): 13, (809, 1152): 13, (794, 1100): 13, (794, 908): 13, (562, 679): 13, (570, 750): 13, (511, 514): 13, (515, 562): 13, (552, 562): 13, (490, 756): 13, (752, 1100): 13, (519, 741): 13, (502, 750): 13, (572, 1100): 13, (515, 659): 13, (564, 569): 13, (490, 907): 13, (502, 908): 13, (503, 514): 13, (514, 1102): 13, (502, 757): 13, (515, 908): 13, (566, 1116): 13, (794, 814): 13, (503, 794): 13, (516, 552): 12, (1099, 1147): 12, (489, 553): 12, (568, 571): 12, (571, 764): 12, (552, 909): 12, (764, 909): 12, (518, 564): 12, (356, 367): 12, (777, 1100): 12, (523, 1116): 12, (679, 840): 12, (564, 776): 12, (745, 750): 12, (517, 564): 12, (514, 553): 12, (523, 1101): 12, (360, 516): 12, (776, 1103): 12, (489, 511): 12, (551, 1185): 12, (553, 1125): 12, (519, 908): 12, (664, 742): 12, (750, 764): 12, (502, 516): 12, (572, 777): 12, (570, 1104): 12, (566, 753): 12, (564, 907): 12, (907, 908): 12, (361, 514): 12, (514, 765): 12, (679, 752): 12, (570, 1181): 12, (564, 757): 12, (1104, 1115): 12, (366, 764): 12, (515, 743): 12, (515, 1152): 12, (1101, 1103): 12, (511, 523): 12, (359, 507): 12, (515, 753): 12, (508, 1115): 12, (1140, 1141): 12, (679, 756): 12, (502, 749): 12, (515, 814): 12, (570, 749): 12, (523, 912): 11, (519, 1125): 11, (357, 366): 11, (571, 829): 11, (552, 553): 11, (357, 552): 11, (829, 909): 11, (516, 1103): 11, (514, 1100): 11, (765, 794): 11, (367, 490): 11, (367, 514): 11, (516, 1139): 11, (515, 909): 11, (523, 743): 11, (671, 750): 11, (745, 1102): 11, (794, 1125): 11, (750, 1125): 11, (679, 829): 11, (777, 829): 11, (569, 764): 11, (569, 1103): 11, (519, 1103): 11, (908, 1103): 11, (741, 764): 11, (514, 909): 11, (745, 791): 11, (489, 753): 11, (515, 1102): 11, (358, 523): 11, (664, 794): 11, (809, 1181): 11, (777, 809): 11, (777, 1115): 11, (569, 777): 11, (572, 764): 11, (809, 1102): 11, (358, 507): 11, (745, 777): 11, (750, 1100): 11, (519, 570): 11, (361, 794): 11, (1181, 1184): 11, (1100, 1125): 11, (507, 755): 11, (809, 909): 11, (502, 659): 11, (551, 1141): 11, (490, 519): 11, (562, 764): 11, (359, 523): 11, (502, 672): 11, (809, 907): 11, (564, 1101): 11, (756, 794): 11, (756, 777): 11, (514, 518): 11, (749, 1103): 11, (489, 670): 11, (569, 1100): 11, (564, 756): 11, (513, 1188): 11, (514, 743): 11, (514, 517): 10, (516, 1125): 10, (671, 753): 10, (764, 1102): 10, (489, 509): 10, (523, 568): 10, (552, 1125): 10, (490, 765): 10, (490, 1125): 10, (571, 659): 10, (777, 1102): 10, (366, 777): 10, (517, 777): 10, (523, 1161): 10, (552, 814): 10, (552, 1116): 10, (752, 829): 10, (361, 523): 10, (357, 750): 10, (523, 1128): 10, (551, 671): 10, (553, 1100): 10, (516, 672): 10, (519, 764): 10, (363, 489): 10, (511, 777): 10, (566, 672): 10, (360, 553): 10, (356, 794): 10, (562, 1100): 10, (562, 750): 10, (564, 664): 10, (664, 1185): 10, (490, 517): 10, (502, 664): 10, (489, 672): 10, (516, 764): 10, (507, 679): 10, (361, 553): 10, (664, 829): 10, (357, 489): 10, (566, 1101): 10, (516, 776): 10, (551, 864): 10, (490, 814): 10, (672, 1100): 10, (502, 909): 10, (863, 908): 10, (515, 1128): 10, (502, 1115): 10, (570, 829): 10, (755, 809): 10, (366, 1103): 10, (511, 552): 10, (502, 511): 10, (1115, 1181): 10, (515, 1115): 10, (571, 908): 10, (502, 513): 10, (809, 814): 10, (908, 1125): 10, (562, 1103): 10, (756, 1100): 10, (361, 776): 10, (741, 777): 10, (562, 741): 10, (1185, 1188): 10, (741, 756): 10, (363, 523): 10, (1100, 1129): 10, (514, 1128): 10, (791, 794): 10, (566, 810): 10, (551, 907): 10, (1100, 1115): 10, (829, 907): 10, (504, 570): 10, (1145, 1161): 10, (564, 749): 10, (513, 745): 10, (504, 1103): 10, (519, 840): 10, (679, 1116): 10, (489, 743): 10, (368, 489): 10, (749, 764): 10, (504, 908): 10, (519, 912): 9, (1139, 1146): 9, (1139, 1187): 9, (517, 571): 9, (551, 1099): 9, (489, 568): 9, (509, 523): 9, (502, 1125): 9, (765, 776): 9, (912, 1186): 9, (523, 814): 9, (502, 765): 9, (360, 568): 9, (523, 744): 9, (551, 1128): 9, (564, 659): 9, (741, 744): 9, (672, 777): 9, (363, 777): 9, (519, 1138): 9, (764, 1100): 9, (513, 523): 9, (513, 1140): 9, (523, 1140): 9, (553, 794): 9, (502, 791): 9, (356, 1144): 9, (552, 1144): 9, (908, 1101): 9, (514, 753): 9, (519, 753): 9, (553, 776): 9, (566, 1185): 9, (489, 1128): 9, (503, 552): 9, (502, 744): 9, (764, 1115): 9, (361, 489): 9, (755, 1115): 9, (367, 745): 9, (508, 523): 9, (503, 764): 9, (363, 502): 9, (551, 563): 9, (519, 794): 9, (363, 515): 9, (490, 1116): 9, (490, 909): 9, (523, 1184): 9, (570, 908): 9, (777, 908): 9, (361, 764): 9, (366, 679): 9, (516, 1146): 9, (908, 1124): 9, (359, 551): 9, (814, 840): 9, (794, 1101): 9, (515, 907): 9, (664, 745): 9, (777, 1101): 9, (366, 569): 9, (504, 777): 9, (517, 569): 9, (757, 1103): 9, (519, 572): 9, (840, 908): 9, (566, 1129): 9, (679, 1129): 9, (515, 1116): 9, (741, 749): 9, (518, 809): 9, (514, 907): 9, (368, 502): 9, (368, 514): 9, (489, 513): 9, (504, 519): 9, (513, 794): 9, (743, 794): 9, (551, 670): 9, (551, 862): 8, (552, 744): 8, (356, 679): 8, (509, 514): 8, (515, 1144): 8, (566, 1144): 8, (514, 568): 8, (764, 1125): 8, (552, 765): 8, (829, 1125): 8, (568, 1147): 8, (361, 1100): 8, (514, 1144): 8, (523, 1144): 8, (552, 1161): 8, (515, 672): 8, (552, 672): 8, (863, 1100): 8, (564, 753): 8, (664, 679): 8, (366, 659): 8, (363, 829): 8, (664, 764): 8, (507, 519): 8, (765, 777): 8, (765, 1144): 8, (664, 1103): 8, (664, 1141): 8, (840, 1102): 8, (361, 519): 8, (516, 1147): 8, (1104, 1184): 8, (519, 664): 8, (551, 1101): 8, (552, 742): 8, (742, 794): 8, (489, 508): 8, (523, 864): 8, (502, 755): 8, (515, 744): 8, (566, 1156): 8, (659, 679): 8, (566, 1102): 8, (753, 777): 8, (356, 764): 8, (519, 562): 8, (513, 515): 8, (366, 572): 8, (523, 791): 8, (909, 1100): 8, (551, 1184): 8, (511, 794): 8, (357, 1103): 8, (357, 1100): 8, (361, 367): 8, (551, 1156): 8, (776, 809): 8, (490, 516): 8, (564, 909): 8, (570, 909): 8, (553, 765): 8, (1102, 1115): 8, (563, 777): 8, (562, 564): 8, (764, 814): 8, (552, 1128): 8, (1100, 1124): 8, (742, 777): 8, (362, 562): 8, (571, 800): 8, (363, 679): 8, (511, 679): 8, (679, 814): 8, (367, 519): 8, (517, 840): 8, (794, 1152): 8, (756, 1103): 8, (357, 1186): 8, (741, 1102): 8, (570, 659): 8, (519, 749): 8, (562, 757): 8, (489, 1124): 8, (749, 777): 8, (794, 1116): 8, (908, 1115): 8, (514, 563): 8, (489, 1129): 8, (563, 566): 8, (368, 552): 8, (489, 659): 8, (757, 809): 8, (356, 745): 8, (564, 743): 8, (514, 670): 8, (356, 552): 7, (357, 1144): 7, (745, 1101): 7, (1139, 1147): 7, (776, 1144): 7, (551, 1139): 7, (551, 1187): 7, (519, 829): 7, (509, 571): 7, (564, 568): 7, (564, 745): 7, (571, 753): 7, (571, 803): 7, (357, 764): 7, (764, 765): 7, (764, 912): 7, (776, 829): 7, (912, 1100): 7, (750, 765): 7, (361, 765): 7, (367, 571): 7, (515, 1099): 7, (829, 1115): 7, (840, 1101): 7, (564, 765): 7, (765, 1186): 7, (360, 523): 7, (517, 741): 7, (741, 810): 7, (741, 1124): 7, (357, 568): 7, (777, 1138): 7, (750, 776): 7, (753, 764): 7, (519, 1102): 7, (1103, 1128): 7, (366, 564): 7, (564, 672): 7, (750, 1115): 7, (776, 1138): 7, (908, 1140): 7, (489, 1156): 7, (515, 1141): 7, (523, 1141): 7, (517, 829): 7, (511, 764): 7, (519, 750): 7, (514, 1101): 7, (664, 1100): 7, (776, 1100): 7, (359, 752): 7, (755, 764): 7, (566, 1140): 7, (503, 829): 7, (503, 1100): 7, (1100, 1140): 7, (551, 1145): 7, (517, 679): 7, (523, 863): 7, (489, 1145): 7, (357, 794): 7, (503, 519): 7, (664, 908): 7, (679, 909): 7, (507, 564): 7, (752, 1102): 7, (829, 1156): 7, (517, 672): 7, (508, 1184): 7, (523, 563): 7, (794, 1115): 7, (1104, 1181): 7, (366, 840): 7, (1103, 1115): 7, (551, 1188): 7, (518, 777): 7, (1100, 1138): 7, (517, 809): 7, (829, 865): 7, (741, 757): 7, (363, 794): 7, (366, 794): 7, (569, 750): 7, (572, 750): 7, (489, 503): 7, (679, 753): 7, (515, 1156): 7, (502, 1152): 7, (776, 1102): 7, (511, 515): 7, (745, 835): 7, (503, 1141): 7, (502, 1138): 7, (366, 570): 7, (566, 1184): 7, (664, 741): 7, (361, 552): 7, (562, 776): 7, (777, 1152): 7, (569, 679): 7, (764, 791): 7, (366, 776): 7, (366, 504): 7, (357, 490): 7, (741, 794): 7, (742, 1188): 7, (359, 566): 7, (363, 552): 7, (517, 794): 7, (359, 809): 7, (664, 750): 7, (908, 1129): 7, (361, 813): 7, (752, 909): 7, (357, 509): 7, (358, 508): 7, (504, 741): 7, (553, 1103): 7, (490, 776): 7, (791, 1103): 7, (562, 1152): 7, (366, 518): 7, (363, 764): 7, (507, 1100): 7, (570, 756): 7, (756, 809): 7, (502, 864): 7, (502, 756): 7, (507, 1181): 7, (909, 1124): 7, (777, 907): 7, (551, 1161): 7, (515, 1101): 7, (552, 749): 7, (679, 749): 7, (564, 670): 7, (809, 1156): 7, (504, 1100): 7, (756, 908): 7, (514, 908): 7

In [ ]:
# Опредилим самую популярную пару курсов.
Counter(courses_list).most_common(1)[0][0]

(551, 566)

In [ ]:
# Создадим Датафрейм популярных курсов. Count - это сколько раз встречается данная пара курсов. 
popular_df = pd.DataFrame(Counter(courses_list).most_common(),columns=['pairs','count'])
popular_df

            pairs  count
0      (551, 566)    797
1      (515, 551)    417
2      (489, 551)    311
3      (523, 551)    304
4      (566, 794)    290
...           ...    ...
3984   (741, 791)      1
3985  (361, 1128)      1
3986  (743, 1156)      1
3987  (864, 1129)      1
3988  (756, 1185)      1

[3989 rows x 2 columns]

In [ ]:
# Первые две пары показывают, что логично рассматривать в качестве рекомендаций и обратное сочетание пар. 
# Т.е. для курса 551 лучшая рекомендация - это курсы 566 и 515
# Разобьём пары курсов на два столбца с resource_id курсов.
# Столбец course - основной курс, столбец course_rec - рекомендованный курс.
# Создадим два датафрейма. Прямое сочетание пар курсов и обратное.
df_1 = popular_df.copy()
df_2 = popular_df.copy()

df_1['course'] = df_1['pairs'].apply(lambda x: x[0])
df_1['course_rec'] = df_1['pairs'].apply(lambda x: x[1])

df_2['course'] = df_2['pairs'].apply(lambda x: x[1])
df_2['course_rec'] = df_2['pairs'].apply(lambda x: x[0])

df_1,df_2

(            pairs  count  course  course_rec
 0      (551, 566)    797     551         566
 1      (515, 551)    417     515         551
 2      (489, 551)    311     489         551
 3      (523, 551)    304     523         551
 4      (566, 794)    290     566         794
 ...           ...    ...     ...         ...
 3984   (741, 791)      1     741         791
 3985  (361, 1128)      1     361        1128
 3986  (743, 1156)      1     743        1156
 3987  (864, 1129)      1     864        1129
 3988  (756, 1185)      1     756        1185

 [3989 rows x 4 columns],
             pairs  count  course  course_rec
 0      (551, 566)    797     566         551
 1      (515, 551)    417     551         515
 2      (489, 551)    311     551         489
 3      (523, 551)    304     551         523
 4      (566, 794)    290     794         566
 ...           ...    ...     ...         ...
 3984   (741, 791)      1     791         741
 3985  (361, 1128)      1    1128         361
 3986  (743, 1156)      1    1156         743
 3987  (864, 1129)      1    1129         864
 3988  (756, 1185)      1    1185         756

 [3989 rows x 4 columns])

In [ ]:
# Объединим датафреймы
df_common = pd.concat([df_1, df_2]).reset_index(drop=True)
df_common

            pairs  count  course  course_rec
0      (551, 566)    797     551         566
1      (515, 551)    417     515         551
2      (489, 551)    311     489         551
3      (523, 551)    304     523         551
4      (566, 794)    290     566         794
...           ...    ...     ...         ...
7973   (741, 791)      1     791         741
7974  (361, 1128)      1    1128         361
7975  (743, 1156)      1    1156         743
7976  (864, 1129)      1    1129         864
7977  (756, 1185)      1    1185         756

[7978 rows x 4 columns]

In [ ]:
# Добавим столбец ранжирования пар для каждого курса. 
# Нас будут интересовать у каждого курса из course курсы из столбца course_rec с rank 1 и 2.
df_common['rank'] = df_common.sort_values(by='count', ascending=False).groupby('course').cumcount()+1

In [ ]:
# Посмотри как выглядит наша таблица для одного конкретного курса 551
df_common[df_common['course'] == 551].sort_values('rank')

            pairs  count  course  course_rec  rank
0      (551, 566)    797     551         566     1
3990   (515, 551)    417     551         515     2
3991   (489, 551)    311     551         489     3
3992   (523, 551)    304     551         523     4
3996   (490, 551)    247     551         490     5
...           ...    ...     ...         ...   ...
6918   (360, 551)      1     551         360   113
3204  (551, 1182)      1     551        1182   114
3170   (551, 866)      1     551         866   115
3824   (551, 830)      1     551         830   116
3107   (551, 836)      1     551         836   117

[117 rows x 5 columns]

In [ ]:
# Оставим только записи соответствующие первому и второму рангу, удалим столбец 'pairs'
df_common = df_common[(df_common['rank'] == 1) | (df_common['rank'] == 2)]
df_common.drop('pairs', axis=1, inplace=True)

C:\Users\mvideo\AppData\Local\Temp\ipykernel_10624\4190723474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_common.drop('pairs', axis=1, inplace=True)

In [ ]:
# Посмотрим как это будет выглядеть для конкретного курса 551
df_common[df_common['course'] == 551]

      count  course  course_rec  rank
0       797     551         566     1
3990    417     551         515     2

In [ ]:
# Оставим одну строку для каждого курса, а вторую по популярности запишем рядом
# Переставим столбцы для удобства восприятия
df_rec = df_common[df_common['rank'] == 1].merge(df_common[df_common['rank'] == 2], on='course', how='left', suffixes=('_1', '_2'))
df_rec = df_rec.reindex(columns=['course', 'course_rec_1', 'count_1', 'rank_1', 'course_rec_2', 'count_2', 'rank_2'])
df_rec

     course  course_rec_1  count_1  rank_1  course_rec_2  count_2  rank_2
0       551           566      797       1           515      417       2
1       515           551      417       1           489      286       2
2       489           551      311       1           515      286       2
3       523           551      304       1           515      213       2
4       490           566      253       1           551      247       2
..      ...           ...      ...     ...           ...      ...     ...
121     833           507        2       1           570        2       2
122    1201           571        1       1          1144        1       2
123    1182           553        1       1          1103        1       2
124     902           519        1       1           777        1       2
125    1200           866        1       1          1104        1       2

[126 rows x 7 columns]

In [ ]:
# Некоторые пары курсов имеют низкую частоту совместных продаж, можно предположить, что эти курсы были проданы вместе случайно 
# и нет смысла  рекомендовать их в паре друг с другом в будущем.
# Необходимо установить минимальную границу — какое количество раз считать слишком малым.
# Для этого посмотрим статистическое распределение числа продаж.
df_rec['count_1'].describe()

count    126.000000
mean      79.436508
std      120.688458
min        1.000000
25%       16.250000
50%       37.500000
75%       97.250000
max      797.000000
Name: count_1, dtype: float64

In [ ]:
# Нижняя квартиль Q1 составляем 16 продаж. Ниже этой цифры число продаж слишком малое. 
# Возьмём эту цифру за минимальную величину, при значениях ниже которой будем предлагать наиболее популярную пару.
df_rec.loc[df_rec['count_1'] < 16, 'course_rec_1'] = 551
df_rec.loc[df_rec['count_2'] < 16, 'course_rec_2'] = 566
df_rec

     course  course_rec_1  count_1  rank_1  course_rec_2  count_2  rank_2
0       551           566      797       1           515      417       2
1       515           551      417       1           489      286       2
2       489           551      311       1           515      286       2
3       523           551      304       1           515      213       2
4       490           566      253       1           551      247       2
..      ...           ...      ...     ...           ...      ...     ...
121     833           551        2       1           566        2       2
122    1201           551        1       1           566        1       2
123    1182           551        1       1           566        1       2
124     902           551        1       1           566        1       2
125    1200           551        1       1           566        1       2

[126 rows x 7 columns]

In [ ]:
# Удалим вспомогательные столбцы и приведем таблицу к окончательному виду.
# В ней столбец course - это курс, который пользователь выбрал в корзину,
# А в столбцах course_rec_1 и course_rec_2 - рекомендуемые ему курсы.
df_rec.drop(['count_1', 'rank_1', 'count_2', 'rank_2'], axis=1, inplace=True)
df_rec = df_rec.sort_values(by='course')
df_rec

     course  course_rec_1  course_rec_2
15      356           571           357
14      357           571           356
29      358           570           752
33      359           570           566
32      360           745           566
..      ...           ...           ...
102    1188           551           566
114    1198           551           566
119    1199           551           566
125    1200           551           566
122    1201           551           566

[126 rows x 3 columns]

ИТОГОВАЯ ТАБЛИЦА С РЕКОМЕНДАЦИЯМИ 
Идея таблицы.
 Каждый пользователь, покупающий курс психологически больше готов сделать новую покупку. И многие пользователи совершили вторую покупку. 
 По каким-то особенностям они предпочли именно этот курс для второй покупки, который находится в наиболее популярной паре. 
 Факт - пользователь, купивший курс с id 551 в 797 случаях купил и курс id 566. 
 Логично это использовать для увеличения продаж. 
 Логично также купившему курс с id 566 купить и курс id 551. 
 То есть, для формирования рекомендаций используем прямое и обратное сочетание самых популярных пар курсов.
 В нижней квартили Q1 статистического распределения продаж курсов слишком мало и возможно эти курсы были проданы вместе случайно.
 Вместо этих малопопулярных курсов мы предложим пользователю пару самых популярных курсов 551 и 566.
 Обратим их внимание на курсы, которые понравились достаточно большому числу пользователей.
 Предлагаемая таблица будет рекомендовать клиентам курсы, которые в большей степени вероятности должны их заинтересовать.